.cart-no {
    position: absolute;
    min-width: 20px;
    min-height: 20px;
    border-radius: 50%;
    font-size: 0.9em;
    background: blue;
    color: white;
    text-align: center;
    top: -12px;
    right: 33px;
}

a{
    text-decoration: none;
    color: #343a40;

    &.active{
        color: orange;
    }
}

.logo{
    &:hover{
        cursor: pointer;
    }

    &:focus{
        outline: none;  
    }
}